<div class="row justify-content-center">
  <div class="col-8">
    <p id="jhi-delete-maprRequests-heading" jhiTranslate="mgrwebApp.maprRequests.download.question">
      Downloading the Fuse Client Setup for new Volumes. Please confirm to Download.
    </p>
  </div>

  <div>
    <button type="submit" (click)="download('1')" class="btn btn-info" data-cy="entityActionDownloadButton">
      <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.download">Download</span>
    </button>

    <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
    </button>
  </div>
</div>
