/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
  display: inline-block;
  width: 600px;
  height: 400px;
  background: url('../../content/images/Green-Earth-technology.jpg') no-repeat center top;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/Green-Earth-technology.jpg') no-repeat center top;
    background-size: contain;
  }
}

.home-number {
  text-align: center;
  padding-top: 5%;
  font-size: 55px;
  font-weight: bold;
  color: #18bc9c;
}

.align-left {
  padding-left: 0px;
}
